NODE_ENV=development
PORT=3000

# Database
DATABASE_URL=mongodb+srv://username:password@example.mongodb.net/seraphe?retryWrites=true&w=majority

# Auth
JWT_SECRET=change-this-admin-secret
JWT_EXPIRES_IN=1d

# Payments
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=

# Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=seraphebeautyinfo@gmail.com
SMTP_PASSWORD=<GMAIL_APP_PASSWORD>
MAIL_FROM=seraphebeautyinfo@gmail.com

FRONTEND_URL=https://seraphebeauty.org
